# Módulo 5101: Análisis de Datos con Python

## UT-3. Limpieza y Estandarización de Datos.

En esta sesión nos adentramos en el corazón del análisis de datos: la **limpieza y preparación**.

Se dice que un analista de datos pasa hasta el 80% de su tiempo limpiando y preparando los datos. ¿Por qué? Porque los datos del mundo real son "sucios": están incompletos, son inconsistentes o contienen errores. Un modelo de análisis o aprendizaje automático es como un motor de alta precisión: si le echas combustible sucio (datos sucios), funcionará mal, se atascará o dará resultados incorrectos. 

En este notebook, cubriremos íntegramente el **Resultado de Aprendizaje 2 (RA 2)**: *Limpia y estandariza lotes de datos de forma lógica y eficiente para su tratamiento posterior de acuerdo al problema a resolver*.

---

## Bloque 1: Análisis y Limpieza de Datos

**Objetivos del Bloque:**
1.  **Analizar** un conjunto de datos recién cargado para identificar problemas (`RA 2.a`).
2.  **Escribir código** para gestionar los problemas más comunes: datos faltantes y duplicados (`RA 2.c`).

### Análisis de los datos leídos.

El primer paso después de cargar datos (`pd.read_csv`, `pd.read_excel`, etc.) no es analizarlos, sino **analizar su estado**. Debemos responder a preguntas como:

* ¿Están todos los datos presentes?
* ¿Tienen los datos el formato (tipo) que espero?
* ¿Hay valores que no tienen sentido?
* ¿Hay información duplicada?

Para este bloque, usaremos un conjunto de datos clásico: el del **Titanic**. Es un set de datos fantástico para aprender a limpiar. Primero, lo cargaremos usando la librería `seaborn`, que incluye algunos datasets de ejemplo.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns # Seaborn es una librería de visualización que trae datasets de ejemplo

# Cargamos el dataset 'titanic'
df_titanic = sns.load_dataset('titanic')

# Establecemos 'pandas' para que muestre más filas y columnas (opcional, pero útil)
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)

#### 1. Vistazo Inicial: `.head()`, `.tail()`, `.shape`
Estos métodos nos dan una idea de la estructura y el contenido.

In [4]:
print("Forma del DataFrame (filas, columnas):", df_titanic.shape)
print("\n--- Primeras 5 filas ---")
df_titanic.head()

Forma del DataFrame (filas, columnas): (891, 15)

--- Primeras 5 filas ---

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

#### 2. Resumen Técnico: `.info()`
Este es el comando **más importante** para un primer análisis. Nos dice:
* El número total de filas (entradas).
* El número de columnas.
* El nombre de cada columna.
* El número de valores **no nulos** en cada columna (¡clave para detectar datos faltantes!).
* El tipo de dato (`Dtype`) de cada columna (`object` suele ser texto).

In [5]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

**Análisis de `.info()`:**
* Tenemos 891 filas (entradas).
* **¡Problema!** La columna `age` (edad) solo tiene 714 valores no nulos (891 - 714 = 177 valores faltantes).
* **¡Gran Problema!** La columna `deck` (cubierta) solo tiene 203 valores no nulos. La mayoría están vacíos.
* `embarked` (puerto de embarque) también tiene 2 valores faltantes.

#### 3. Resumen Estadístico: `.describe()`
Nos da estadísticas descriptivas (media, mediana, min, max...) para las **columnas numéricas**[cite: 1943, 2341].

In [6]:
df_titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

**Análisis de `.describe()`:**
* Nos confirma que `age` tiene un `count` de 714.
* Vemos que la media de edad es de 29.7 años.
* `survived` (superviviente) es 0 o 1, pero la media es 0.38, lo que nos dice que el 38% de las personas en este dataset sobrevivió.
* ¿Tiene sentido que la `pclass` (clase) mínima sea 1 y la máxima 3? Sí.
* ¿Tiene sentido que la `fare` (tarifa) mínima sea 0? Quizás era tripulación o un invitado. Es algo a investigar.

Para ver un resumen de las **columnas no numéricas** (tipo `object`), podemos usar `include=['object']`:

In [7]:
df_titanic.describe(include=['object'])

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

**Análisis:**
* `sex`: Tiene 2 valores únicos ('male', 'female'). El más frecuente ('top') es 'male' (577 veces).
* `embarked`: Tiene 3 valores únicos. El más frecuente es 'S' (Southampton).

### Escribiendo código que permite limpiar... datos.

Una vez analizados los problemas, ¡vamos a solucionarlos! Empezaremos por los datos faltantes y los duplicados.

### Aclaración sobre datos faltantes/ausentes (NA: Not Available)   

En aplicaciones de estadística, los datos NA pueden ser o bien datos que no existen o que existen pero no se han observado (debido a problemas con la recogida de datos, por ejemplo). Al limpiar datos para su análisis, suele ser importante analizar también los datos que no están, para identificar problemas en la recogida de datos o posibles desviaciones en los datos producidas por datos faltantes.

In [8]:
import pandas as pd
import numpy as np

string_data = pd.Series(["aardvark", np.nan, None,"avocado"]) # Ejemplo de datos de tipo string con valores NA
print(string_data)
string_data.isna()

0    aardvark
1         NaN
2        None
3     avocado
dtype: object

0    False
1     True
2     True
3    False
dtype: bool

In [9]:
float_data = pd.Series([1, 2, np.nan, 4, None]) # Ejemplo de datos de tipo float con valores NA
print(float_data)
float_data.isna()

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

0    False
1    False
2     True
3    False
4     True
dtype: bool

#### 1. Limpieza de Datos Faltantes (NaN)

En Pandas, los datos faltantes se representan con `NaN` (Not a Number). Como vimos con `.info()`, tenemos valores faltantes en `age`, `deck` y `embarked`.

Tenemos dos estrategias principales: **Eliminar** o **Imputar** (rellenar).

**Estrategia 1: Eliminar (`.dropna()`)**

Es la opción más sencilla, pero también la más peligrosa. Si eliminamos filas, perdemos información valiosa.

* **Eliminar filas:** Si una fila tiene *cualquier* valor NaN. Esto suele ser demasiado agresivo.

In [10]:
# Vemos cuántas filas nos quedarían si eliminamos todas las que tengan AL MENOS UN NaN
print("Filas originales:", df_titanic.shape[0])
print("Filas después de dropna():", df_titanic.dropna().shape[0])

Filas originales: 891
Filas después de dropna(): 182

¡Pasamos de 891 filas a 182! Hemos perdido casi el 80% de los datos. Esto se debe a que la columna `deck` tiene muchísimos NaN. 

* **Eliminar columnas:** Es una buena idea si la columna está casi vacía y no es útil. La columna `deck` solo tiene 203 valores de 891. Probablemente es mejor eliminarla.

`axis=1` se refiere a las columnas. `how='all'` significa "elimina solo si *todos* los valores de la columna son NaN". El umbral `thresh` (threshold) es más útil: "mantén solo las columnas que tengan *al menos* X valores no nulos".

In [11]:
# Creamos una copia para no modificar el original
df_limpio = df_titanic.copy()

# Eliminamos la columna 'deck' (axis=1)
df_limpio = df_limpio.drop('deck', axis=1)

df_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

¡Genial! Nos hemos deshecho de `deck`, pero aún tenemos NaN en `age` y `embarked`. No queremos eliminar esas filas.

**Estrategia 2: Imputar o Rellenar (`.fillna()`)**

Rellenamos los NaN con un valor. [cite_start]La pregunta es: ¿con qué valor? [cite: 2001-2003, 2214-2218]

* Para `age` (numérica): Una estrategia común es usar la **media** o la **mediana** de la edad. La mediana (el valor central) suele ser mejor si hay valores atípicos (edades muy altas o muy bajas).
* Para `embarked` (categórica): La estrategia común es usar la **moda** (el valor más frecuente).

In [12]:
# 1. Rellenar 'age' con la mediana
mediana_edad = df_limpio['age'].median()
print(f"La mediana de edad es: {mediana_edad}")
df_limpio['age'] = df_limpio['age'].fillna(mediana_edad)

# 2. Rellenar 'embarked' con la moda
# .mode() devuelve una Serie (porque podría haber varias modas), 
# así que seleccionamos la primera con [0].
moda_embarked = df_limpio['embarked'].mode()[0]
print(f"El puerto de embarque más frecuente es: {moda_embarked}")
df_limpio['embarked'] = df_limpio['embarked'].fillna(moda_embarked)

# 3. Comprobamos el resultado
print("\n--- Información post-limpieza ---")
df_limpio.info()

La mediana de edad es: 28.0
El puerto de embarque más frecuente es: S

--- Información post-limpieza ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

¡Perfecto! Ahora tenemos 891 entradas no nulas en todas las columnas que nos interesan.

#### 2. Limpieza de Datos Duplicados

Los datos duplicados pueden sesgar nuestros análisis (por ejemplo, contando dos veces la misma venta). Pandas nos ayuda a encontrarlos y eliminarlos.

Primero, vamos a crear un pequeño DataFrame de ejemplo para ver cómo funciona.

In [13]:
datos_dup = pd.DataFrame({
    'id_cliente': [1, 2, 3, 2, 4],
    'email': ['a@mail.com', 'b@mail.com', 'c@mail.com', 'b@mail.com', 'd@mail.com']
})

print("Datos con duplicados:")
datos_dup

Datos con duplicados:

   id_cliente       email
0           1  a@mail.com
1           2  b@mail.com
2           3  c@mail.com
3           2  b@mail.com
4           4  d@mail.com

In [14]:
# .duplicated() nos devuelve una Serie booleana que es True para cada fila duplicada
print("¿Qué filas están duplicadas?")
print(datos_dup.duplicated())

¿Qué filas están duplicadas?
0    False
1    False
2    False
3     True
4    False
dtype: bool

Pandas marca la fila 3 (índice 3) como duplicada porque es idéntica a la fila 1 (índice 1).

Para eliminarlas, usamos `.drop_duplicates()`.

In [15]:
df_sin_duplicados = datos_dup.drop_duplicates()
print("Datos sin duplicados:")
df_sin_duplicados

Datos sin duplicados:

   id_cliente       email
0           1  a@mail.com
1           2  b@mail.com
2           3  c@mail.com
4           4  d@mail.com

A veces, una fila no es un duplicado exacto, pero un campo clave sí lo es (p.ej., el email). Podemos usar el parámetro `subset` para buscar duplicados basándonos solo en columnas específicas.

In [16]:
datos_dup_email = pd.DataFrame({
    'id_cliente': [1, 2, 3, 4],
    'email': ['a@mail.com', 'b@mail.com', 'c@mail.com', 'b@mail.com']
})

print("Datos con email duplicado:")
print(datos_dup_email)

# Eliminamos filas basándonos solo en la columna 'email', manteniendo la primera aparición
df_email_unico = datos_dup_email.drop_duplicates(subset=['email'], keep='first')
print("\nDatos con email único:")
print(df_email_unico)

Datos con email duplicado:
   id_cliente       email
0           1  a@mail.com
1           2  b@mail.com
2           3  c@mail.com
3           4  b@mail.com

Datos con email único:
   id_cliente       email
0           1  a@mail.com
1           2  b@mail.com
2           3  c@mail.com

---

### Ejercicios del Bloque 1 

**Dataset:** Para estos ejercicios, usaremos el dataset `diamonds` (diamantes), también de la librería `seaborn`.

**Ejercicio 1: Análisis Preliminar**
1.  Carga el dataset `diamonds` de `seaborn` en un DataFrame llamado `df_diamantes`.
2.  Muestra la forma (`.shape`) del DataFrame.
3.  Muestra las 5 primeras filas.
4.  Utiliza `.info()` para identificar qué columnas tienen datos faltantes (si las hay) y qué tipos de datos tiene cada columna.
5.  Utiliza `.describe()` para obtener las estadísticas de las columnas numéricas. ¿Observas algo extraño en los valores `min` de las columnas `x`, `y`, o `z` (dimensiones)?

**Ejercicio 2: Limpieza de Duplicados**
1.  Comprueba cuántas filas duplicadas exactas hay en `df_diamantes`. 
2.  Crea un nuevo DataFrame llamado `df_diamantes_limpio` que sea una copia del original, pero sin las filas duplicadas.
3.  Verifica la forma del nuevo DataFrame para confirmar que se han eliminado las filas.

**Ejercicio 3: Limpieza de Datos Faltantes y Atípicos**
1.  Basándote en el análisis del Ejercicio 1.5, has visto que algunos diamantes tienen dimensiones `x`, `y` o `z` iguales a 0, lo cual es físicamente imposible. Estos son datos erróneos, no

In [17]:
df_diamantes = sns.load_dataset('diamonds')
df_diamantes.shape
print(df_diamantes.head())

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

---

In [18]:
df_diamantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [19]:
df_diamantes.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

El valor minimo de dimensiones es 0, lo cual es imposible

In [20]:
diamantes= df_diamantes.duplicated().sum()
print(diamantes)

146

In [21]:
df_diamantes_limpio = df_diamantes.drop_duplicates()
df_diamantes_limpio.info()
df_diamantes_limpio.shape

<class 'pandas.core.frame.DataFrame'>
Index: 53794 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53794 non-null  float64
 1   cut      53794 non-null  category
 2   color    53794 non-null  category
 3   clarity  53794 non-null  category
 4   depth    53794 non-null  float64
 5   table    53794 non-null  float64
 6   price    53794 non-null  int64
 7   x        53794 non-null  float64
 8   y        53794 non-null  float64
 9   z        53794 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.4 MB

(53794, 10)

In [22]:
mediana_x = df_diamantes_limpio['x'].median()
print(f"La mediana de edad es: {mediana_x}")
df_diamantes_limpio['x'] = df_diamantes_limpio['x'].replace(0, mediana_x)

mediana_y = df_diamantes_limpio['y'].median()
print(f"La mediana de edad es: {mediana_y}")
df_diamantes_limpio['y'] = df_diamantes_limpio['y'].replace(0, mediana_y)

mediana_z = df_diamantes_limpio['z'].median()
print(f"La mediana de edad es: {mediana_z}")
df_diamantes_limpio['z'] = df_diamantes_limpio['z'].replace(0, mediana_z)

df_diamantes_limpio.describe()

La mediana de edad es: 5.7
La mediana de edad es: 5.71
La mediana de edad es: 3.53

C:\Users\alber\AppData\Local\Temp\ipykernel_13880\1121276614.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diamantes_limpio['x'] = df_diamantes_limpio['x'].replace(0, mediana_x)
C:\Users\alber\AppData\Local\Temp\ipykernel_13880\1121276614.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diamantes_limpio['y'] = df_diamantes_limpio['y'].replace(0, mediana_y)
C:\Users\alber\AppData\Local\Temp\ipykernel_13880\1121276614.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diamantes_limpio['z'] = df_diamantes_limpio['z'].replace(0, mediana_z)

,carat,depth,table,price,x,y,z
count,53794.00000,53794.000000,53794.000000,53794.000000,53794.000000,53794.000000,53794.000000
mean,0.79778,61.748080,57.458109,3933.065082,5.731956,5.735290,3.539960
std,0.47339,1.429909,2.233679,3988.114460,1.118786,1.139601,0.701893
min,0.20000,43.000000,43.000000,326.000000,3.730000,3.680000,1.070000
25%,0.40000,61.000000,56.000000,951.000000,4.710000,4.720000,2.910000
50%,0.70000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.04000,62.500000,59.000000,5326.750000,6.540000,6.540000,4.030000
max,5.01000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

## Bloque 2: Estandarización y Transformación de Datos

**Objetivos del Bloque:**
1.  **Transformar** datos usando mapeos y funciones (`RA 2.c`).
2.  **Estandarizar y Normalizar** datos numéricos (`RA 2.b`).
3.  **Discretizar** variables continuas en intervalos (`RA 2.d`).
4.  **Identificar y convertir** variables categóricas a numéricas (`RA 2.e`, `RA 2.f`).

Continuaremos usando el DataFrame `df_limpio` (Titanic) del bloque anterior.

In [23]:
# Recordatorio de nuestros datos limpios de NaN
df_limpio.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

### Transformación de Datos

A menudo necesitamos modificar los valores de una columna. Por ejemplo, la columna `sex` es textual ('male', 'female'). Para muchos modelos, necesitaremos que sea numérica (0 y 1).

#### 1. Mapeo de Valores: `.map()`
El método `.map()` nos permite sustituir cada valor de una Serie por otro valor, usando un diccionario (un "mapeo") [cite: 2007-2008].

In [25]:
# Creamos una nueva columna 'sex_num' con los valores mapeados
mapa_sexo = {'male': 0, 'female': 1}
df_limpio['sex_num'] = df_limpio['sex'].map(mapa_sexo)

df_limpio[['sex', 'sex_num']].head()

      sex  sex_num
0    male        0
1  female        1
2  female        1
3  female        1
4    male        0

#### 2. Aplicar Funciones: `.apply()`
`.apply()` es más potente que `.map()`. Permite aplicar una función a cada fila o columna. La usaremos aquí para crear una nueva característica (Feature Engineering).

Vamos a crear una columna `family_size` (tamaño de la familia) sumando `sibsp` (hermanos/cónyuges) y `parch` (padres/hijos) + 1 (la propia persona).

In [20]:
# Definimos una función (o podemos usar lambda)
def calcular_tam_familia(fila):
    return fila['sibsp'] + fila['parch'] + 1

# axis=1 le dice a apply que opere por FILAS
df_limpio['family_size'] = df_limpio.apply(calcular_tam_familia, axis=1)

df_limpio[['sibsp', 'parch', 'family_size']].head()

   sibsp  parch  family_size
0      1      0            2
1      1      0            2
2      0      0            1
3      1      0            2
4      0      0            1

### Normalización y Estandarización

Este es un concepto clave. Muchos algoritmos de machine learning (como regresiones o redes neuronales) funcionan mucho peor si las variables numéricas tienen escalas muy diferentes.

En nuestro dataset, `age` va de 0.4 a 80, pero `fare` (tarifa) va de 0 a 512. Esta diferencia de escala puede confundir al algoritmo.

**Dos técnicas principales:**
1.  **Normalización (Min-Max Scaling):** Re-escala los datos para que estén en un rango fijo, generalmente entre 0 y 1. La fórmula es: `(X - min(X)) / (max(X) - min(X))`.
2.  **Estandarización (Z-score Scaling):** Re-escala los datos para que tengan una media (μ) de 0 y una desviación estándar (σ) de 1. La fórmula es: `(X - μ) / σ`.

Usaremos la librería `scikit-learn` para esto.

In [26]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# 1. Estandarización (Z-score) para 'age'
scaler_std = StandardScaler()
# .fit_transform() aprende la media y desv. est. y luego transforma los datos
# [:, np.newaxis] convierte la Serie 1D en un array 2D, que es lo que scikit-learn espera
df_limpio['age_standard'] = scaler_std.fit_transform(df_limpio[['age']])

# 2. Normalización (Min-Max) para 'fare'
scaler_norm = MinMaxScaler()
df_limpio['fare_normalized'] = scaler_norm.fit_transform(df_limpio[['fare']])

# Comprobamos los resultados
print("--- Datos escalados ---")
print(df_limpio[['age', 'age_standard', 'fare', 'fare_normalized']].head())

print("\n--- Verificación de la Estandarización ---")
print(f"Media de age_standard: {df_limpio['age_standard'].mean():.2f}")
print(f"Desv. Est. de age_standard: {df_limpio['age_standard'].std():.2f}")

print("\n--- Verificación de la Normalización ---")
print(f"Mínimo de fare_normalized: {df_limpio['fare_normalized'].min():.2f}")
print(f"Máximo de fare_normalized: {df_limpio['fare_normalized'].max():.2f}")

--- Datos escalados ---
    age  age_standard     fare  fare_normalized
0  22.0     -0.565736   7.2500         0.014151
1  38.0      0.663861  71.2833         0.139136
2  26.0     -0.258337   7.9250         0.015469
3  35.0      0.433312  53.1000         0.103644
4  35.0      0.433312   8.0500         0.015713

--- Verificación de la Estandarización ---
Media de age_standard: 0.00
Desv. Est. de age_standard: 1.00

--- Verificación de la Normalización ---
Mínimo de fare_normalized: 0.00
Máximo de fare_normalized: 1.00

### Aplicación de intervalos (Discretización)

A veces es útil convertir una variable continua (como `age`) en una variable categórica (como 'Niño', 'Adulto', 'Senior'). A esto se le llama **discretización** o **binning**.

Pandas nos da dos funciones para esto: `pd.cut` (cortar por rangos) y `pd.qcut` (cortar por cuantiles).

In [27]:
# Usaremos pd.cut para crear grupos de edad
# 1. Definimos los "cortes" (bins)
bins_edad = [0, 12, 18, 35, 60, 80] # Cortes: 0-12, 13-18, 19-35, 36-60, 61-80

# 2. Definimos las etiquetas para esos cortes
labels_edad = ['Infantil', 'Adolescente', 'Joven Adulto', 'Adulto', 'Senior']

# 3. Aplicamos la función
df_limpio['grupo_edad'] = pd.cut(df_limpio['age'], 
                               bins=bins_edad, 
                               labels=labels_edad, 
                               right=True) # right=True significa que el intervalo incluye el valor derecho (ej: (12, 18])

print(df_limpio[['age', 'grupo_edad']].head())

# Veamos el conteo de cada nuevo grupo
print("\nConteo por grupo de edad:")
print(df_limpio['grupo_edad'].value_counts())

    age    grupo_edad
0  22.0  Joven Adulto
1  38.0        Adulto
2  26.0  Joven Adulto
3  35.0  Joven Adulto
4  35.0  Joven Adulto

Conteo por grupo de edad:
grupo_edad
Joven Adulto    535
Adulto          195
Adolescente      70
Infantil         69
Senior           22
Name: count, dtype: int64

### Identificar y Modificar Variables Categóricas

**Identificación:** Ya lo hemos estado haciendo. Columnas como `sex`, `embarked`, `pclass` y nuestro nuevo `grupo_edad` son categóricas. Representan una cualidad o grupo, no una cantidad.

**Modificación a Cuantitativas:** ¿Por qué convertir texto en números? Porque los modelos matemáticos (como las regresiones) no entienden "Southampton". Necesitan números.

Tenemos dos tipos de variables categóricas:
1.  **Ordinales:** Tienen un orden lógico (ej: 'Malo' < 'Bueno' < 'Excelente'). Las mapeamos a números que respeten ese orden (ej: 0, 1, 2).
2.  **Nominales:** No tienen un orden lógico (ej: 'Madrid', 'Barcelona', 'Valencia').

Ya vimos cómo convertir `sex` (Nominal, 2 categorías) usando `.map()`.

¿Qué pasa con `embarked` (Nominal, 3 categorías)? ¿Podríamos hacer `{'S': 0, 'C': 1, 'Q': 2}`? 

**¡NO!** Esto implicaría un orden falso (que C(1) es "más" que S(0), y Q(2) es "más" que C(1)), lo cual es incorrecto y confundiría al modelo. 

La solución se llama **Codificación One-Hot** (o variables *dummy*). Creamos una nueva columna binaria (0/1) por cada categoría.

In [28]:
# pd.get_dummies() hace esto automáticamente por nosotros
df_dummies_embarked = pd.get_dummies(df_limpio['embarked'], prefix='puerto')

print("Columnas Dummy para 'embarked':")
print(df_dummies_embarked.head())

# Ahora, unimos estas nuevas columnas a nuestro DataFrame principal
# (Y solemos eliminar la columna original 'embarked')
df_final = pd.concat([df_limpio, df_dummies_embarked], axis=1)
df_final = df_final.drop('embarked', axis=1)

print("\nDataFrame final con Dummies:")
df_final.head()

Columnas Dummy para 'embarked':
   puerto_C  puerto_Q  puerto_S
0     False     False      True
1      True     False     False
2     False     False      True
3     False     False      True
4     False     False      True

DataFrame final con Dummies:

,survived,pclass,sex,age,sibsp,parch,fare,class,who,adult_male,embark_town,alive,alone,sex_num,age_standard,fare_normalized,grupo_edad,puerto_C,puerto_Q,puerto_S
0,0,3,male,22.0,1,0,7.2500,Third,man,True,Southampton,no,False,0,-0.565736,0.014151,Joven Adulto,False,False,True
1,1,1,female,38.0,1,0,71.2833,First,woman,False,Cherbourg,yes,False,1,0.663861,0.139136,Adulto,True,False,False
2,1,3,female,26.0,0,0,7.9250,Third,woman,False,Southampton,yes,True,1,-0.258337,0.015469,Joven Adulto,False,False,True
3,1,1,female,35.0,1,0,53.1000,First,woman,False,Southampton,yes,False,1,0.433312,0.103644,Joven Adulto,False,False,True
4,0,3,male,35.0,0,0,8.0500,Third,man,True,Southampton,no,True,0,0.433312,0.015713,Joven Adulto,False,False,True

¡Y ya está! Nuestro DataFrame `df_final` (excepto por las columnas de texto que dejamos, como `name`) está casi listo para ser usado en un modelo de Machine Learning. Hemos limpiado NaNs, eliminado duplicados, transformado variables, estandarizado las numéricas y codificado las categóricas.

---

### Ejercicios del Bloque 2

**Dataset:** Continuaremos con el DataFrame `df_diamantes_limpio` del Bloque 1.

**Ejercicio 1: Transformación y Estandarización**
1.  Hay 3 columnas con dimensiones: `x`, `y`, `z`. Crea una nueva columna llamada `volumen` que sea `x * y * z`.
2.  Crea una nueva columna llamada `densidad` que sea `carat / volumen`. Es posible que obtengas valores `inf` (infinitos) si `volumen` es 0 (por los datos erróneos que limpiaste). Reemplaza estos valores `inf` por `NaN` y luego rellénalos con 0.
3.  Estandariza (Z-score) las columnas `carat`, `depth`, `table` y `price`. Almacena los resultados en nuevas columnas (ej: `carat_std`, `price_std`).

**Ejercicio 2: Discretización**
1.  Usando `pd.qcut` (corte por cuantiles), divide la columna `price` en 4 contenedores (cuartiles) con las etiquetas: `['Barato', 'Medio', 'Caro', 'Muy Caro']`. Guarda esto en una nueva columna llamada `rango_precio`.
2.  Muestra el conteo de valores (`.value_counts()`) de esta nueva columna `rango_precio`.

**Ejercicio 3: Codificación Categórica**
1.  El dataset `diamonds` tiene 3 columnas categóricas nominales: `cut`, `color`, y `clarity`.
2.  Crea un nuevo DataFrame llamado `df_diamantes_dummies` que sea el resultado de aplicar `pd.get_dummies()` a `df_diamantes_limpio`, pero **solo** sobre estas 3 columnas.
3.  Muestra las 5 primeras filas del nuevo `df_diamantes_dummies`. ¿Cuántas columnas tiene ahora?

**Ejercicio 4 (Bonus):**
1.  La columna `cut` (corte) en realidad es **Ordinal**. Sus valores (según la documentación de `seaborn`) son: `['Fair', 'Good', 'Very Good', 'Premium', 'Ideal']`.
2.  Crea una nueva columna `cut_ordinal` donde mapees 'Fair' a 0, 'Good' a 1, y así sucesivamente hasta 'Ideal' a 4.
3.  Compara esto con el resultado de `pd.get_dummies()` para `cut`. ¿Cuándo usarías un método sobre el otro?

In [54]:
df_diamantes_limpio.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,volumen,densidad,carat_std,depth_std,table_std,price_std
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030,0.006021,-1.199402,-0.173495,-1.100486,-0.904462
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856,0.006086,-1.241651,-1.362393,1.585691,-0.904462
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885,0.006040,-1.199402,-3.390512,3.376475,-0.904211
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580,0.006207,-1.072656,0.455922,0.242603,-0.902456
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250,0.005971,-1.030407,1.085338,0.242603,-0.902205

In [55]:
df_diamantes_limpio['volumen'] = df_diamantes_limpio['x'] * df_diamantes_limpio['y'] * df_diamantes_limpio['z']
df_diamantes_limpio.head()

C:\Users\alber\AppData\Local\Temp\ipykernel_13880\1048541901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diamantes_limpio['volumen'] = df_diamantes_limpio['x'] * df_diamantes_limpio['y'] * df_diamantes_limpio['z']

,carat,cut,color,clarity,depth,table,price,x,y,z,volumen,densidad,carat_std,depth_std,table_std,price_std
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030,0.006021,-1.199402,-0.173495,-1.100486,-0.904462
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856,0.006086,-1.241651,-1.362393,1.585691,-0.904462
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885,0.006040,-1.199402,-3.390512,3.376475,-0.904211
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580,0.006207,-1.072656,0.455922,0.242603,-0.902456
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250,0.005971,-1.030407,1.085338,0.242603,-0.902205

In [56]:
df_diamantes_limpio['densidad'] = df_diamantes_limpio['carat'] / df_diamantes_limpio['volumen']
df_diamantes_limpio.head()

C:\Users\alber\AppData\Local\Temp\ipykernel_13880\2470816949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diamantes_limpio['densidad'] = df_diamantes_limpio['carat'] / df_diamantes_limpio['volumen']

,carat,cut,color,clarity,depth,table,price,x,y,z,volumen,densidad,carat_std,depth_std,table_std,price_std
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030,0.006021,-1.199402,-0.173495,-1.100486,-0.904462
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856,0.006086,-1.241651,-1.362393,1.585691,-0.904462
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885,0.006040,-1.199402,-3.390512,3.376475,-0.904211
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580,0.006207,-1.072656,0.455922,0.242603,-0.902456
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250,0.005971,-1.030407,1.085338,0.242603,-0.902205

In [57]:
cont =0
for x in df_diamantes_limpio:
    if df_diamantes_limpio['densidad'].all== 0.00000:
        cont =+ 1

print(cont)

0

In [58]:
df_diamantes_limpio.describe()

,carat,depth,table,price,x,y,z,volumen,densidad,carat_std,depth_std,table_std,price_std
count,53794.00000,53794.000000,53794.000000,53794.000000,53794.000000,53794.000000,53794.000000,53794.000000,53794.000000,5.379400e+04,5.379400e+04,5.379400e+04,5.379400e+04
mean,0.79778,61.748080,57.458109,3933.065082,5.731956,5.735290,3.539960,129.886170,0.006128,6.762797e-17,-1.096841e-15,-7.608146e-17,6.762797e-17
std,0.47339,1.429909,2.233679,3988.114460,1.118786,1.139601,0.701893,78.132593,0.000193,1.000009e+00,1.000009e+00,1.000009e+00,1.000009e+00
min,0.20000,43.000000,43.000000,326.000000,3.730000,3.680000,1.070000,31.707984,0.000521,-1.262776e+00,-1.311150e+01,-6.472838e+00,-9.044622e-01
25%,0.40000,61.000000,56.000000,951.000000,4.710000,4.720000,2.910000,65.220078,0.006048,-8.402872e-01,-5.231708e-01,-6.527895e-01,-7.477450e-01
50%,0.70000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000,114.857400,0.006117,-2.065547e-01,3.631054e-02,-2.050935e-01,-3.841613e-01
75%,1.04000,62.500000,59.000000,5326.750000,6.540000,6.540000,4.030000,170.841804,0.006190,5.116755e-01,5.258567e-01,6.902986e-01,3.494629e-01
max,5.01000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000,3840.598060,0.022647,8.898069e+00,1.206516e+01,1.680736e+01,3.733612e+00

In [59]:
carat_std = StandardScaler()
df_diamantes_limpio['carat_std'] = carat_std.fit_transform(df_diamantes_limpio[['carat']])

depth_std = StandardScaler()
df_diamantes_limpio['depth_std'] = depth_std.fit_transform(df_diamantes_limpio[['depth']])

table_std = StandardScaler()
df_diamantes_limpio['table_std'] = table_std.fit_transform(df_diamantes_limpio[['table']])

price_std = StandardScaler()
df_diamantes_limpio['price_std'] = price_std.fit_transform(df_diamantes_limpio[['price']])

df_diamantes_limpio.head()

C:\Users\alber\AppData\Local\Temp\ipykernel_13880\1497416428.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diamantes_limpio['carat_std'] = carat_std.fit_transform(df_diamantes_limpio[['carat']])
C:\Users\alber\AppData\Local\Temp\ipykernel_13880\1497416428.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diamantes_limpio['depth_std'] = depth_std.fit_transform(df_diamantes_limpio[['depth']])
C:\Users\alber\AppData\Local\Temp\ipykernel_13880\1497416428.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diamantes_limpio['table_std'] = table_std.fit_transform(df_diamantes_limpio[['table']])
C:\Users\alber\AppData\Local\Temp\ipykernel_13880\1497416428.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diamantes_limpio['price_std'] = price_std.fit_transform(df_diamantes_limpio[['price']])

,carat,cut,color,clarity,depth,table,price,x,y,z,volumen,densidad,carat_std,depth_std,table_std,price_std
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030,0.006021,-1.199402,-0.173495,-1.100486,-0.904462
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856,0.006086,-1.241651,-1.362393,1.585691,-0.904462
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885,0.006040,-1.199402,-3.390512,3.376475,-0.904211
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580,0.006207,-1.072656,0.455922,0.242603,-0.902456
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250,0.005971,-1.030407,1.085338,0.242603,-0.902205